<div class="container top">
  <ul class="menu_panel">
    <li><a href="/records">デッキリスト</a></li>
    <li><a href="/stats">統計データ</a></li>
    <li><a href="/event">イベント情報</a></li>
    <li><a href="/gallery">ギャラリー</a></li>
  </ul>
  <div class="info_list">
    <div class="info_child">
      <h2>おしらせ</h2>
    </div>
    <div class="info_child">
      <h2>リンク集</h2>
      <div class=info_child_container>
        <h3>キューブリスト</h3>
        <ul>
          <li><a href="https://cubecobra.com/cube/overview/modovintage" target="_blank">MTGO Vintage Cube</a></li>
          <li><a href="https://cubecobra.com/cube/overview/thepaupercube" target="_blank">The Pauper Cube</a></li>
          <li><a href="https://cubecobra.com/cube/overview/2rj74" target="_blank">Aeon Server Cheap Rare Cube</a></li>
        </ul>
        <h3>役に立つ記事</h3>
        <h3>その他</h3>
        <ul>
          <li><a href="http://whisper.wisdom-guild.net/" target="_blank">Wisdom Guild</a></li>
          <li><a href="https://hakuho01.github.io/limitedManaCalc/" target="_blank">リミテで土地枚数検索するやつ</a></li>
          <li><a href="https://hakuho01.github.io/draft-picktimer/" target="_blank">Draft Pick Timer</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>