<div class="container top">
  <ul class="menu_panel">
    <li><a href="/records">デッキリスト</a></li>
    <li><a href="/stats">統計データ</a></li>
    <li><a href="/event">イベント情報</a></li>
    <li><a href="/gallery">ギャラリー</a></li>
  </ul>
  <div class="info_list">
    <div class="info_child">
      <h2>おしらせ</h2>
      <div class=info_child_container>
        <ul>
          <li>[2025/03/02]第12回キューブ会は3/16(日)です。</li>
        </ul>
      </div>
    </div>
    <div class="info_child">
      <h2>リンク集</h2>
      <div class=info_child_container>
        <h3>キューブリスト</h3>
        <ul>
          <li><a href="https://cubecobra.com/cube/overview/modovintage" target="_blank">MTGO Vintage Cube</a></li>
          <li><a href="https://cubecobra.com/cube/overview/thepaupercube" target="_blank">The Pauper Cube</a></li>
          <li><a href="https://cubecobra.com/cube/overview/2rj74" target="_blank">Aeon Server Cheap Rare Cube(カスレアキューブ)</a></li>
          <li><a href="https://cubecobra.com/cube/list/2bac0f1a-0851-4006-9102-e2c408abb803">Price Fluctuations Cube(株券キューブ)</a></li>
        </ul>
        <h3>役に立つ記事</h3>
        <ul>
          <li><a href="https://article.hareruyamtg.com/article/article_4359/">ジェレミー先生のヴィンテージ・キューブ教室</a></li>
          <li><a href="https://article.hareruyamtg.com/article/56239/">キューブドラフトが上手くなるには</a></li>
          <li><a href="https://note.com/myyamagat/n/n6ba34f18482e">Vintage Cube 入門(1/2)</a></li>
          <li><a href="https://note.com/myyamagat/n/nf9df9b5f9e74">Vintage Cube 入門(2/2) ピック点数表</a></li>
        </ul>
        <h3>ツール</h3>
        <ul>
          <li><a href="http://whisper.wisdom-guild.net/" target="_blank">Wisdom Guild</a></li>
          <li><a href="https://hakuho01.github.io/limitedManaCalc/" target="_blank">リミテで土地枚数検索するやつ</a></li>
          <li><a href="https://hakuho01.github.io/draft-picktimer/" target="_blank">Draft Pick Timer</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>