<div class="container gallery">
<h2>ギャラリー</h2>
  <img src="/assets/gallery/img003.jpg" class="playmat">
  <img src="/assets/gallery/img005.jpg" class="playmat">
  <img src="/assets/gallery/img007.jpg" class="playmat">
  <img src="/assets/gallery/img008.jpg" class="playmat">
</div>
