body{
  background: #f6f6f6;
  margin: 0;
}
p{
  margin: 0;
}
.title{
  display: flex;
}
.title img{
  height:48px;
  margin-right: 12px;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
h3{
  margin:0;
}
h4{
  margin:0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(25, 37, 74);
  padding: 8px 24px;
}
header h1{
  color: #fff;
  font-family: "magistral-condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}
header nav a{
  text-decoration: none;
  color: rgb(123, 198, 241);
}
.container{
  max-width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
}

/* result */

.records h2{
  background:rgb(60, 70, 98);
  color: #fff;
  padding: 6px;
  margin-bottom: 16px;
}
.result_frame{
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 18px;
}
.result_frame:last-child{
  margin-bottom: 0;
}
.result_date{
  font-size:14px;
}
.result_frame h3{
  font-size:24px
}

/* decklist */

/* stats */
.stats h2{
  background:rgb(60, 70, 98);
  color: #fff;
  padding: 6px;
}
.stats section{
  margin-top:20px
}
.stats h3{
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 2px;
}
.section_inner{
  display: flex;
  justify-content: space-between;
  margin-top:12px
}
.section_child{
  width:30%;
}

/* event */
.event h2{
  background:rgb(60, 70, 98);
  color: #fff;
  padding: 6px;
  margin-bottom: 16px;
}
.event .event_frame{
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 18px;
}
.event .event_frame:last-child{
  margin-bottom: 0;
}
.event_show dl{
  display: flex;
  flex-wrap: wrap;
}
.event_show dt{
  width: 200px;
  font-size:18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.event_show dd{
  width: calc(100% - 200px);
  font-size: 18px;
  margin-left: 0;
  margin-bottom: 8px;
}