body{
  background: #f6f6f6;
  margin: 0;
}
p{
  margin: 0;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(25, 37, 74);
  padding: 8px 24px;
}
header h1{
  color: #fff;
}
header nav a{
  text-decoration: none;
  color: rgb(123, 198, 241);
}
.container{
  max-width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
}

/* result */

.result_frame{
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 18px;
}
.result_frame:last-child{
  margin-bottom: 0;
}
.result_date{
  font-size:14px;
}
.result_frame h2{
  font-size:24px
}

/* decklist */

